.blog-item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  margin-bottom: 2em;
  width: 75%;
}

.blog-item:hover {
}

.blog-detail {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  color: gray;
  font-size: 0.85em;
  margin-bottom: 1em;
}

.heading,
.heading-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid; */
}

.heading-icons {
  gap: 1em;
}

.blog-icons {
  /* border: 3px solid var(--secondary); */
  width: 2.8em;
  cursor: pointer;
}

.blog-icons:hover {
  filter: invert(40%);
}

.blog-title {
  font-size: 1.8em;
}

.blog-content {
  font-size: 16px;
  color: #666;
}
