.blog-item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 75%;
}

.blog-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-detail {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  color: gray;
  font-size: 0.85em;
  margin-bottom: 1em;
}

.blog-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-content {
  font-size: 16px;
  color: #666;
}
