:root {
  --primary: #cf0a0a;
  --secondary: #000000;
  --accent: #dc5f00;
  --bground: #eeeeee;
}

#logo {
  width: 12em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6em;
}

.btn-text {
  font-size: 1.3em;
}

.right:hover {
  text-decoration: underline;
  cursor: pointer;
}

.add-btn {
  background-color: var(--secondary);
  border-radius: 100%;
  padding: 0.2em;
  width: 1.6em;
  text-align: center;
  font-weight: bolder;
  font-size: 2.2em;
  color: var(--bground);
}

.add-btn:hover {
  background-color: #292828;
}
