.main-blog {
  display: flex;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration {
  display: flex;
  justify-content: center;
  position: sticky;
}

.illustration img {
  width: 80%;
}
