.main-blog {
  display: flex;
  margin: 2em 5em;
}

.blog-list {
  display: flex;
  flex-direction: column;
}

.illustration {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.illustration img {
  padding-top: 4em;
  width: 100%;
}
