.main-blog {
  display: flex;
  justify-content: space-between;
  margin: 2em 5em;
}

.blog-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.illustration {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.illustration img {
  padding-top: 4em;
  width: 80%;
}
